@{
    ViewData["Title"] = "Home";
    int amountOfCameras = ViewBag.AmountOfCamera;
}

<!-- Banner Section Begin -->
<div class="container big-banner-container">
    <div class="big-banner set-bg" data-setbg="@ViewBag.Cameras[0].ImageUrls.Split(';')[0]">
        <div class="big-banner__text">
            <span>GREATEST CAMERA</span>
            <h2>Camera <br />100% Quality</h2>
            <p>Free Pickup and Delivery Available</p>
            <a href="/User/Shop" class="primary-btn">SHOP NOW</a>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach(var item in ViewBag.Cameras) {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="@item.ImageUrls.Split(';')[0]">
                            <h5><a href="User/Shop/Details/?cameraId=@item.Id">@item.Name</a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Canon">Canon</li>
                        <li data-filter=".Nikon">Nikon</li>
                        <li data-filter=".Sony">Sony</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var item in ViewBag.Cameras)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mix @item.BrandName">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="@item.ImageUrls.Split(';')[0]">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="User/Shop/Details/?cameraId=@item.Id">@item.Name</a></h6>
                            <h5>@String.Format("{0:0,0} đ", int.Parse(item.Price))</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="banner set-bg" data-setbg="/images/others/user_home_banner1.png">
                <div class="banner__text">
                    <span>Sale off 10%</span>
                    <h2>Sony's camera</h2>
                    <p>Let's buy something</p>
                    <a href="#" class="primary-btn">SHOP NOW</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="banner set-bg" data-setbg="/images/others/user_home_banner2.png">
                <div class="banner__text">
                    <span>Best seller</span>
                    <h2>Mirrorless <br />and more...</h2>
                    <p>Delivery now!</p>
                    <a href="#" class="primary-btn">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @for (int i = 0; i < amountOfCameras / 3 + 1; i++)
                        {
                            if (i > 3) break;
                            int start = i * 3;
                            // amountOfCameras
                            <div class="latest-prdouct__slider__item">
                                @for (int j = start; j < start + 3; j++)
                                {
                                    if (j >= amountOfCameras) break;
                                    <a href="User/Shop/Details/?cameraId=@ViewBag.Cameras[j].Id" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="~/@ViewBag.Cameras[j].ImageUrls.Split(';')[0]" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@ViewBag.Cameras[j].Name</h6>
                                            <span>@String.Format("{0:0,0} đ", int.Parse(ViewBag.Cameras[j].Price))</span>
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @for (int i = 0; i < amountOfCameras / 3 + 1; i++)
                        {
                            if (i > 3) break;
                            int start = i * 3;
                            // amountOfCameras
                            <div class="latest-prdouct__slider__item">
                                @for (int j = start; j < start + 3; j++)
                                {
                                    if (j >= amountOfCameras) break;
                                    <a href="User/Shop/Details/?cameraId=@ViewBag.Cameras[j].Id" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="~/@ViewBag.Cameras[j].ImageUrls.Split(';')[0]" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@ViewBag.Cameras[j].Name</h6>
                                            <span>@String.Format("{0:0,0} đ", int.Parse(ViewBag.Cameras[j].Price))</span>
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @for (int i = 0; i < amountOfCameras / 3 + 1; i++)
                        {
                            if (i > 3) break;
                            int start = i * 3;
                            // amountOfCameras
                            <div class="latest-prdouct__slider__item">
                                @for (int j = start; j < start + 3; j++)
                                {
                                    if (j >= amountOfCameras) break;
                                    <a href="User/Shop/Details/?cameraId=@ViewBag.Cameras[j].Id" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="~/@ViewBag.Cameras[j].ImageUrls.Split(';')[0]" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@ViewBag.Cameras[j].Name</h6>
                                            <span>@String.Format("{0:0,0} đ", int.Parse(ViewBag.Cameras[j].Price))</span>
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->