@{
    ViewData["Title"] = "The Loai";
}

<h1 class="mb-4 mt-2 .text-primary">Thể loại/Tất cả</h1>
<table>
    <tr>
        <th>Số thứ tự</th>
        <th>Tên máy</th>
        <th>Tên hãng</th>
        <th>Loại máy</th>
        <th>Chức năng</th>
    </tr>
    @{
        int index = 1;
        foreach (var camera in @ViewBag.Cameras)
        {
            <tr>
                <td>@index</td>
                <td>@camera.Name</td>
                <td>@camera.Brand.Name</td>
                <td>@camera.Category</td>
                <td>
                    <a
                        asp-controller="TheLoai"
                        asp-action="Edit"
                        asp-route-id=@camera.Id
                    >
                    Chỉnh sửa
                    </a>
                    |
                    <a 
                        asp-controller="TheLoai"
                        asp-action="Details"
                        asp-route-id=@camera.Id>
                    Chi tiết
                    </a>
                    |
                    <a 
                        asp-controller="TheLoai"
                        asp-action="Delete"
                        asp-route-id=@camera.Id>
                    Xoá
                    </a>
                    
                </td>
            </tr>
            index += 1;
        }
    }
</table>
<partial name="~/Views/Shared/_CameraActionPartial.cshtml" />
