@{
	ViewData["Title"] = "View All";
}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<div class="container pb-5 pt-5">
    <div class="row text-center text-black mb-3">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>
    <div class="row product-item">
        <div class="col-lg-8 mx-auto">
            <div class="product-list">
                @foreach (var item in @ViewBag.Cameras)
                {
                    <div class="row p-2 my-4 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/@item.ImageUrls.Split(";")[0]" alt="an image of @item.Name"></div>
                        <div class="col-md-6 mt-1">
                            <h5 class="m-0">@item.Name</h5>
                            <div class="d-flex flex-row mb-2">
                                <p class="fs-6 fw-lighter">Đã bán 1.4k</p>
                            </div>
                            <div>
                                @for (int i = 0; i < 3; i++)
                                {
                                    <p>@item.Features.Split(";")[i]</p>
                                }
                            </div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1">@item.Price đ</h4>
                            </div>
                            <h6 class="text-success">Free shipping</h6>
                            <div class="d-flex flex-column mt-4"><a class="btn btn-primary btn-sm" asp-area="User" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a><button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>